---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=strife&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=strife&offset=0&limit=20&type=track",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/41FWHIk05ZDXYe7RwCd1fL"
                },
                "href" : "https://api.spotify.com/v1/albums/41FWHIk05ZDXYe7RwCd1fL",
                "id" : "41FWHIk05ZDXYe7RwCd1fL",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/146a0fb9b604516a2c86df6cfc08c579e7c8f49e",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/2ca572ace2a48521c47f40b59c06342b06f4ae84",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/570c78e0393def0b9760e22a3994702e0a7698eb",
                  "width" : 64
                } ],
                "name" : "Strife",
                "type" : "album",
                "uri" : "spotify:album:41FWHIk05ZDXYe7RwCd1fL"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/278ZYwGhdK6QTzE3MFePnP"
                },
                "href" : "https://api.spotify.com/v1/artists/278ZYwGhdK6QTzE3MFePnP",
                "id" : "278ZYwGhdK6QTzE3MFePnP",
                "name" : "Trivium",
                "type" : "artist",
                "uri" : "spotify:artist:278ZYwGhdK6QTzE3MFePnP"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
              "disc_number" : 1,
              "duration_ms" : 269266,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "NLA321392802"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/7iR5p8zShNtR7Cl9JcRQL7"
              },
              "href" : "https://api.spotify.com/v1/tracks/7iR5p8zShNtR7Cl9JcRQL7",
              "id" : "7iR5p8zShNtR7Cl9JcRQL7",
              "name" : "Strife",
              "popularity" : 51,
              "preview_url" : "https://p.scdn.co/mp3-preview/0b21d70ddf6a3b55e777160bdb5633f1af01bd0b",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:7iR5p8zShNtR7Cl9JcRQL7"
            }, {
              "album" : {
                "album_type" : "album",
                "available_markets" : [ "AD", "AR", "AT", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT"[...]
