---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=trivium&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=trivium&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/278ZYwGhdK6QTzE3MFePnP"
              },
              "genres" : [ "Alternative Metal", "Alternative Pop/Rock", "Black Metal", "Heavy Metal", "Pop/Rock" ],
              "href" : "https://api.spotify.com/v1/artists/278ZYwGhdK6QTzE3MFePnP",
              "id" : "278ZYwGhdK6QTzE3MFePnP",
              "images" : [ {
                "height" : 667,
                "url" : "https://i.scdn.co/image/3bd3419db1811556c3a4106e0aff4d00497e17f8",
                "width" : 1000
              }, {
                "height" : 427,
                "url" : "https://i.scdn.co/image/523700ce40c4f471c642f468af3ca9d50dba8b0b",
                "width" : 640
              }, {
                "height" : 133,
                "url" : "https://i.scdn.co/image/13bc360b1123e2991edded7e95f3e1bb909ff256",
                "width" : 200
              }, {
                "height" : 43,
                "url" : "https://i.scdn.co/image/538a808edba30528c691de0b603515d7fcd9ee81",
                "width" : 64
              } ],
              "name" : "Trivium",
              "popularity" : 38,
              "type" : "artist",
              "uri" : "spotify:artist:278ZYwGhdK6QTzE3MFePnP"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/0RNqIh5OLbzmnddZWfv3t8"
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/0RNqIh5OLbzmnddZWfv3t8",
              "id" : "0RNqIh5OLbzmnddZWfv3t8",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/dcd[...]
