---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/?ids=0oSGxfWSnnOXhD2fKuz2Gy,3dBVyJ7JuOMt4GE9607Qin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0oSGxfWSnnOXhD2fKuz2Gy"
            },
            "genres" : [ "Adult Alternative Pop/Rock", "Album Rock", "Alternative Pop/Rock", "Alternative/Indie Rock", "Art Rock", "Avant-Garde", "Blue-Eyed Soul", "British Folk", "British Folk-Rock", "British Invasion", "British Psychedelia", "Christmas", "Club/Dance", "Contemporary Folk", "Contemporary Pop/Rock", "Dance-Pop", "Dance-Rock", "Experimental", "Experimental Rock", "Film Music", "Folk-Rock", "Glam Rock", "Hard Rock", "Holiday", "Holidays", "Mod", "Original Score", "Pop/Rock", "Post-Punk", "Progressive Country", "Proto-Punk", "Psychedelic", "Punk/New Wave", "Singer/Songwriter", "Sophisti-Pop", "Soundtracks", "Stage & Screen" ],
            "href" : "https://api.spotify.com/v1/artists/0oSGxfWSnnOXhD2fKuz2Gy",
            "id" : "0oSGxfWSnnOXhD2fKuz2Gy",
            "images" : [ {
              "height" : 1000,
              "url" : "https://i.scdn.co/image/32bd9707b42a2c081482ec9cd3ffa8879f659f95",
              "width" : 1000
            }, {
              "height" : 640,
              "url" : "https://i.scdn.co/image/865f24753e5e4f40a383bf24a9cdda598a4559a8",
              "width" : 640
            }, {
              "height" : 200,
              "url" : "https://i.scdn.co/image/7ddd6fa5cf78aee2f2e8b347616151393022b7d9",
              "width" : 200
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/c8dc28c191432862afce298216458a6f00bbfbd8",
              "width" : 64
            } ],
            "name" : "David Bowie",
            "popularity" : 76,
            "type" : "artist",
            "uri" : "spotify:artist:0oSGxfWSnnOXhD2fKuz2Gy"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/3dBVyJ7JuOMt4GE9607Qin"
            },
            "genres" : [ "Album Rock", "British Psychedelia", "Contemporary Pop/Rock", "Glam Rock", "Hard Rock", "Pop/Rock", "Proto-Punk", "Psychedelic", "Punk/New Wave", "Rock & Roll" ],
            "href" : "https://api.spotify.com/v1/artists/3dBVyJ7JuOMt4GE9607Qin",
            "id" : "3dBVyJ7JuOMt4GE9607Qin",
            "images" : [ {
              "height" : 1300,
              "url" : "https://i.scdn.co/image/5515a710c94ccd4edd8b9a0587778ed5e3f997da",
              "width" : 1000
            }, {
              "height" : 832,
              "url" : "https://i.scdn.co/image/c990e667b4ca8240c73b0db06e6d76a3b27ce929",
              "width" : 640
            }, {
              "height" : 260,
              "url" : "https://i.scdn.co/image/de2fa1d11c59e63143117d44ec9990b9e40451a2",
              "width" : 200
            }, {
              "height" : 83,
              "url" : "https://i.scdn.co/image/b39638735adb4a4a54621293b99ab65c546f605e",
              "width" : 64
            } ],
            "name" : "T. Rex",
            "popularity" : 59,
            "type" : "artist",
            "uri" : "spotify:artist:3dBVyJ7JuOMt4GE9607Qin"
          } ]
        }
  recorded_at: Sat, 21 Jun 2014 20:17:16 GMT
recorded_with: VCR 2.9.2
