---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0oSGxfWSnnOXhD2fKuz2Gy/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/0oSGxfWSnnOXhD2fKuz2Gy/albums?offset=0&limit=20&album_type=single,album,compilation,appears_on",
          "items" : [ {
            "album_type" : "album",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/2agWNCZl5Ts9W05mij8EPh"
            },
            "href" : "https://api.spotify.com/v1/albums/2agWNCZl5Ts9W05mij8EPh",
            "id" : "2agWNCZl5Ts9W05mij8EPh",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/9289b38f1f745694bc6991fa45b7b80b5eb8627a",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/898e09cad6262e451f9ad13cbad554ce614e31e9",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/63aee5ac820dcf58f6b65e8ea4fbe8eb79c406e3",
              "width" : 64
            } ],
            "name" : "The Next Day Extra",
            "type" : "album",
            "uri" : "spotify:album:2agWNCZl5Ts9W05mij8EPh"
          }, {
            "album_type" : "album",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/1XExd3X5gOIyaD0wGabBlh"
            },
            "href" : "https://api.spotify.com/v1/albums/1XExd3X5gOIyaD0wGabBlh",
            "id" : "1XExd3X5gOIyaD0wGabBlh",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/7954a5911169d55c5cf8c[...]
